*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
}

.main_container {
    background-color: black;
    height: 70vh;
    width: 30vw;
}

.calculator_output {
    height: 30vh;
    width: 40.1vw;
    background-color: black;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #CEC6C6;
    padding-top: 5vh;
    padding-left: 2vw;
    font-family:Arial, Helvetica, sans-serif;   
}



.calculator_input {
    background-color: #F4F4F4;
    box-shadow: inset 0px 4px 4px rgba(112, 111, 111, 0.5);
    border-radius: 20px 20px 0px 0px;
    height: 65vh;
    width: 40.1vw;
    
}

.calculator_buttons {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 25px;
  padding: 91px 16px 0 16px;
}

button {
    border-style: none;
    background: #F4F4F4;
    height: 53px;
    width: 7vw;
    border-radius: 8px;
    filter: drop-shadow(-1px -1px 3px rgba(112, 111, 111, 0.5)) drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));

}

